.error {
    border: 2px solid red;
}
#category_name, #price , #product_name, #role_name, #user_name, #email, #full_name, #password{
    width: 100%;
    margin-bottom: 10px
}
#category_name-error, #price-error, #product_name-error, #role_name-error, #user_name-error, #email-error, #full_name-error, #password-error{
    border: unset;
    color: red;
    font-weight: bold;
}

.selected {
    color: red;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-bottom: 20px;
}

.card-form {
    padding: 20px;
}

th, td {
    vertical-align: middle !important;
    text-align: center;
}